@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website tracks events around downtown Milwaukee. It also has locations of all restaurants and Bars/clubs. Please Register to start using the website!</p>
