@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    asdf 123 St.<br />
    Milwaukee, WI 53221<br />
    <abbr title="Phone">Phone:</abbr>
    414-123-4567
</address>

<address>
    <strong>Support:</strong>   <p>admin@gmail.com</p>

</address>