@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">
    <h1>Start Searching For Activities!</h1>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register now!&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Want to search for activities?</h2><br />
        <p>
            Register now! <a href="/Account/Register" id="registerLink">Register to start searching!</a><br /><br />
            <img src="~/image/Milwaukee1.JPG" />
        </p>

    </div>
    <div class="col-md-4">
        <h2>How about restaurants?</h2><br /><br />
        <p>You know you want to! <a href="/Account/Register" id="registerLink">Register to start searching!</a></p><br />
        <img src="~/image/Food1.JPG" />
    </div>
    <div class="col-md-4">
        <h2>Bars? Club? </h2><br /><br />
        <p>Awwww yea!!! Now we're talkin! <a href="/Account/Register" id="registerLink">Register!</a></p><br /><br />
        <img src="~/image/Beer1.JPG" />
    </div>
</div>