@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">
    <h1>Start Searching For Activities!</h1>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register now!&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <center><h2>Want to search for activities?</h2><br /></center>
        <center><p>Register now! <a href="/Account/Register" id="registerLink">Register to start searching!</a></p><br /></center>
        <center><img src="~/image/Milwaukee1.JPG" /></center>
    </div>

    <div class="col-md-4">
        <center> <h2>How about restaurants?</h2><br /><br /></center>
        <center><p>You know you want to! <a href="/Account/Register" id="registerLink">Register to start searching!</a></p><br /></center>
        <center><img src="~/image/Food1.JPG" /></center>
    </div>

    <div class="col-md-4">
        <center><h2>Bars? Club? </h2><br /><br /></center>
        <center><p>Awwww yea!!! Now we're talkin! <a href="/Account/Register" id="registerLink">Register!</a></p><br /><br /></center>
        <center><img src="~/image/Beer1.JPG" /></center>
    </div>
</div>


<!DOCTYPE html>
<html>
<head>
    <style>
    body {
            background-image: url('@Url.Content("~/Image/IMG_0983.jpg")');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: bottom;
        }
    </style>
</head>
<body>

</body>
</html>

